<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Potencial Seguros</title>

    <meta name="keywords" content="Potencial Seguros Automovel Automoveis Porto COTAÇÃO" />
    <meta name="description" content="Potencial">
    <meta name="author" content="Ricardo Silva">


    <!-- Favicon -->
    <link rel="shortcut icon" href="content/img/Logo/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="content/img/Logo/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CRoboto+Slab:300,400,700,900&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="content/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="content/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="content/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="content/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="content/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="content/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="content/css/theme.css">
    <link rel="stylesheet" href="content/css/theme-elements.css">
    <link rel="stylesheet" href="content/css/theme-blog.css">
    <link rel="stylesheet" href="content/css/theme-shop.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="content/css/potencial.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="content/css/skins/skin-potencial.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="content/css/custom.css">
    <script src="content/js/global.js"></script>

</head>



<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9M3CS8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>

    <style>
        input {
            padding: 5px;
            font-size: 16px;
            text-transform: uppercase;
        }
    </style>

    <div class="body">
        <header id="header" class="header-effect-shrink"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 85}">
            <div class="header-body header-body-bottom-border border-top-0">

                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="/">
                                        <img src="content/img/Logo/logo1.png" class="img-fluid" width="200" height="61"
                                            alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-links">
                                    <div
                                        class="header-nav-main header-nav-main-text-capitalize header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li><a href="/" class="nav-link active">Home</a></li>
                                                <li><a href="calcular" class="nav-link">Como contratar</a></li>
                                                <li><a href="seguradoras" class="nav-link ">Seguradoras</a></li>
                                                <li><a href="/produtos" class="nav-link">Produtos</a></li>
                                                <li><a href="/" class="nav-link">Sobre Nós</a></li>
                                                <li><a href="/faq" class="nav-link ">FAQ</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <a href="calcular"
                                        class="btn btn-secondary rounded-pill custom-btn-arrow-effect-1 font-weight-bold text-3 px-10 btn-py-6 appear-animation"
                                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1300">
                                        Cotação Grátis
                                        <svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17"
                                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <polygon stroke="#FFF" stroke-width="0.1" fill="#FFF"
                                                points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 " />
                                        </svg>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">

            <section class="section section-with-shape-divider section-parallax bg-transparent border-0 m-0"
                data-plugin-parallax data-plugin-options="{'speed': 1.5, 'parallaxHeight': '110%', 'fadeIn': true}"
                data-image-src="content/img/Backgrounds/background-1.png">

                <div class="container position-relative z-index-1 pb-5 my-5">

                    <div class="row justify-content-center justify-content-lg-start pb-5 mb-5">
                        <div class="col-md-10 col-lg-6 text-center text-lg-end pe-lg-4 pb-5 mb-5">
                            <h1 class="text-color-light font-weight-medium line-height-4 text-10 mb-2 appear-animation">
                                <span
                                    class="font-weight-extra-bold custom-highlight-1 ws-nowrap p-1 customHighlightAnim customHighlightAnimDelay">
                                </span> </h1>
                            <div class="appear-animation" data-appear-animation="fadeInUpShorter"
                                data-appear-animation-delay="500">
                                <p
                                    class="custom-font-secondary font-weight-light custom-font-size-1 text-color-light opacity-6 mb-4">
                                </p>
                            </div>

                            <div class="spacer pt-5 my-5"></div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container position-relative z-index-1" style="margin-top: -588px; ">
                <div class="row align-items-end pb-4 mb-4 mb-lg-5">
                    <div class="col-lg-4 pe-lg-4 mb-5 mb-lg-0">
                        <div class="card border-0 custom-border-radius-1 box-shadow-1 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                            <div class="card-body p-5">
                                <h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-1">Busque, compare e
                                    contrate seu Seguro</h2>
                                <p class="custom-font-secondary text-3 pb-1 mb-4">Encontre o melhor seguro para você!
                                </p>
                                <form class="contact-form custom-form-style-1" action="content/php/contact-form.php"
                                    method="POST">
                                    <div class="row">
                                        <div class="form-group col pb-2 mb-3 col-lg-12">
                                            <a href="calcular"
                                                class="btn btn-secondary rounded-pill custom-btn-arrow-effect-1 font-weight-bold text-3 col-lg-12 px-12 btn-py-6 appear-animation"
                                                data-appear-animation="fadeInUpShorter"
                                                data-appear-animation-delay="1300">
                                                Cotação Grátis

                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6 class="font-weight-bold text-color-grey text-2-5 line-height-2 line-height-sm-2 mb-0 appear-animation"
                                            data-appear-animation="maskUp" data-appear-animation-delay="800">Informações
                                            legais!</h6>
                                        <h1 class="font-weight-bold text-color-grey text-2-5 line-height-2 line-height-sm-7 mb-0 appear-animation"
                                            data-appear-animation="maskUp" data-appear-animation-delay="800">SUSEP:
                                            202045921</h1>
                                        <h1 class="font-weight-bold text-color-grey text-2-5 line-height-2 line-height-sm-7 mb-0 appear-animation"
                                            data-appear-animation="maskUp" data-appear-animation-delay="800">CNPJ:
                                            21.269.658/0001-73</h1>
                                        <h1 class="font-weight-bold text-color-grey text-2-5 line-height-2 line-height-sm-7 mb-0 appear-animation"
                                            data-appear-animation="maskUp" data-appear-animation-delay="800">Potencial
                                            Corretora de Seguros</h1>
                                        <div class="feature-box feature-box-style-2 mb-1">

                                            <img class="icon-animated" width="35" src="content/img/icons/phone.svg"
                                                alt="" data-icon
                                                data-plugin-options="{'onlySVG': true, 'extraClass': 'text-color-grey'}" />
                                            <div class="feature-box-info ps-2">
                                                <br />
                                                <a href="tel:08000000417"
                                                    class="text-uppercase text-color-dark text-color-hover-secondary text-decoration-none text-4 font-weight-bold pb-0">0800-000-0417</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 col-xl-3 mb-5 mb-xl-0 appear-animation" data-appear-animation="fadeInLeftShorter"
                        data-appear-animation-delay="200">
                        <div class="card border-0 custom-border-radius-1  bg-color-grey">

                            <div class="box-content text-center">
                                <div class="custom-featured-icon-wrapper bg-transparent mb-4">
                                    <img src="content/img/Diversas/Humanizado.png" class="img-fluid " alt="" />
                                </div>
                                <h3 class="text-transform-none font-weight-bold custom-font-size-1 mb-3">ATENDIMENTO
                                    HUMANIZADO</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 mb-5 mb-xl-0 appear-animation" data-appear-animation="fadeInLeftShorter"
                        data-appear-animation-delay="200">
                        <div class="card border-0 custom-border-radius-1  bg-color-grey">

                            <div class="box-content text-center">
                                <div class="custom-featured-icon-wrapper bg-transparent mb-4">
                                    <img src="content/img/Diversas/Assistencia24.png" class="img-fluid " alt="" />
                                </div>
                                <h3 class="text-transform-none font-weight-bold custom-font-size-1 mb-3">ASSISTÊNCIA 24
                                    HORAS</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 mb-5 mb-xl-0 appear-animation" data-appear-animation="fadeInLeftShorter"
                        data-appear-animation-delay="200">
                        <div class="card border-0 custom-border-radius-1  bg-color-grey">

                            <div class="box-content text-center">
                                <div class="custom-featured-icon-wrapper bg-transparent mb-4">
                                    <img src="content/img/Diversas/Personalize.png" class="img-fluid " alt="" />
                                </div>
                                <h3 class="text-transform-none font-weight-bold custom-font-size-1 mb-3">PERSONALIZE SEU
                                    SEGURO</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 mb-5 mb-xl-0 appear-animation" data-appear-animation="fadeInLeftShorter"
                        data-appear-animation-delay="200">
                        <div class="card border-0 custom-border-radius-1  bg-color-grey">

                            <div class="box-content text-center">
                                <div class="custom-featured-icon-wrapper bg-transparent mb-4">
                                    <img src="content/img/Diversas/Parcela.png" class="img-fluid " alt="" />
                                </div>
                                <h3 class="text-transform-none font-weight-bold custom-font-size-1 mb-3">12X SEM JUROS
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section id="whoweare" class="section section-with-shape-divider bg-transparent border-0 m-0">
                <div class="shape-divider shape-divider-bottom" style="height: 102px;">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 1920 102" preserveAspectRatio="xMinYMin">
                        <path fill="#F4F4F4" d="M1895,78c-56.71-6.03-113.75-12.1-167-17c-75.42-6.94-133.81-10.66-171-13c-62.1-3.91-108.85-5.97-155-8
								c-35.96-1.58-78.06-3.42-133-5c-59.81-1.72-103.18-2.23-172-3c-92.17-1.03-154.41-1.01-169-1c-69.05,0.05-115.16,0.67-137,1
								c-43.08,0.65-76.21,1.48-97,2c-28.02,0.7-71.13,1.8-128,4c-16.64,0.64-57.72,2.28-111,5c-26.12,1.33-67.11,3.45-121,7
								c-21.14,1.39-54.21,3.59-96,7c-19.93,1.63-39.22,3.32-47,4c-16.12,1.41-33.55,2.94-55,5c-26.48,2.54-19.07,2.04-77,8
								c-19.39,1.99-36.94,3.77-60.59,7.46V103H1923V81C1916.55,80.3,1906.82,79.26,1895,78z" />
                    </svg>
                </div>
                <div class="container mt-2 mb-5 pb-5">
                    <div class="row align-items-center mb-4">
                        <div class="col-lg-5 mb-5 mb-lg-0">
                            <div class="d-flex align-items-center mb-2">
                                <span class="custom-line appear-animation" data-appear-animation="customLineAnimation"
                                    appear-animation-duration="1s"></span>
                                <div class="overflow-hidden ms-3">
                                    <h2 class="text-color-primary font-weight-semibold line-height-3 text-4 mb-0 appear-animation"
                                        data-appear-animation="maskRight" data-appear-animation-delay="600">SOBRE NÓS
                                    </h2>
                                </div>
                            </div>
                            <h3 class="text-color-secondary font-weight-bold text-transform-none line-height-2 text-10 mb-4 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                                Há 10 anos protegendo suas conquistas:<br>
                            </h3>
                            <p class="custom-font-secondary text-4 mb-4 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                                Personalizamos soluções para cada perfil, garantindo segurança fácil e rápida.
                                Protegemos não apenas veículos, mas também o seu patrimônio em diversos ramos. Cuide do
                                seu bem-estar e de quem depende de você com nossas opções de Seguro Familiar e
                                Financeiro.</p>

                        </div>
                        <div class="col-sm-10 col-lg-6 offset-sm-1 ps-sm-5 ps-lg-0">
                            <div class="position-relative">
                                <div data-plugin-float-element
                                    data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                                    <img src="content/img/Diversas/SOBRE.png"
                                        class="img-fluid  custom-box-shadow-1 appear-animation"
                                        data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1800"
                                        alt="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="section border-0 m-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex align-items-center mb-2">
                                <span class="custom-line appear-animation" data-appear-animation="customLineAnimation"
                                    appear-animation-duration="1s"></span>
                                <div class="overflow-hidden ms-3">
                                    <h2 class="text-color-primary font-weight-semibold line-height-3 text-4 mb-0 appear-animation"
                                        data-appear-animation="maskRight" data-appear-animation-delay="600">ESTAMOS AQUI
                                        PARA TIRAR SUAS DÚVIDAS</h2>
                                </div>
                            </div>
                            <h3 class="text-color-secondary font-weight-bold text-transform-none text-8 mb-3 pb-1 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">FAQ -
                                POTENCIAL SEGUROS</h3>

                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center mb-4">
                        <div class="col-lg-7 pe-lg-5 mb-5 mb-lg-0">
                            <div class="accordion custom-accordion-style-1 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600"
                                id="accordion1">
                                <div class="card card-default">
                                    <div class="card-header" id="collapse1HeadingOne">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#collapse1One"
                                                aria-expanded="false" aria-controls="collapse1One">
                                                1. Qual a importância de ter o perfil correto e verificado para o
                                                seguro?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne"
                                        data-bs-parent="#accordion1">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                A importância do perfil correto no seguro é garantir que suas
                                                características e histórico estejam refletidos com precisão, o que
                                                influencia nas condições e custos. Além disto, quando ocorre algum
                                                sinistro, a seguradora verifica se os dados do perfil estão de acordo
                                                com o que foi informado na apólice, quando ocorre alguma divergência,
                                                por exemplo, endereço de pernoite do veículo errado ou o tipo de
                                                utilização do veículo não batem com os dados informados na apólice, o
                                                cliente poderá não ser indenizado.

                                                A divergência de informação no contrato do seguro pode gerar recusa na
                                                indenização portanto fique atento ao seu perfil de utilização!

                                                Quando ocorrer alguma atualização de dados ou de utilização do veículo,
                                                procure o seu corretor!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header" id="collapse1HeadingTwo">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#collapse1Two"
                                                aria-expanded="false" aria-controls="collapse1Two">
                                                2. O que é franquia? Como funciona?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Two" class="collapse" aria-labelledby="collapse1HeadingTwo"
                                        data-bs-parent="#accordion1">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                A franquia do seguro é a quantia que o segurado assume em caso de
                                                sinistro, sendo descontada do valor a ser indenizado pela seguradora.

                                                Lembrando que para os seguros completos, a franquia existe apenas para
                                                casos de perda parcial do veículo (quando é possível consertá-lo) e para
                                                a coberturas de vidros, faróis, lanternas e retrovisores. Em casos de
                                                Roubo/Furto ou de Perda Total, sem a chance de recuperar o veículo, as
                                                seguradoras não cobram nenhuma franquia e parte para a indenização do
                                                cliente.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header" id="collapse1HeadingThree">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#collapse1Three"
                                                aria-expanded="false" aria-controls="collapse1Three">
                                                3. Quem é o principal condutor da apólice?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Three" class="collapse" aria-labelledby="collapse1HeadingThree"
                                        data-bs-parent="#accordion1">
                                        <div class="card-body">
                                            <p class="mb-0">O principal condutor da apólice é aquele que utiliza o
                                                veículo com maior frequência. Muitas vezes é possível ter o seguro em
                                                nome de uma pessoa e o principal condutor ser outra pessoa. É preciso
                                                informar exatamente quem é o principal condutor do seguro para evitar
                                                problemas na hora da indenização. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header" id="collapse1HeadingFour">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-color-dark font-weight-bold collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#collapse1Four"
                                                aria-expanded="false" aria-controls="collapse1Four">
                                                4. Qual a diferença entre Seguro e Proteção Veicular?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Four" class="collapse" aria-labelledby="collapse1HeadingFour"
                                        data-bs-parent="#accordion1">
                                        <div class="card-body">
                                            <p class="mb-0">
                                                As proteções veiculares focam na colaboração entre membros para cobrir
                                                danos, as mesmas não são regulamentadas pela SUSEP, órgão que fiscaliza
                                                as todas as questões de seguro no país, e agem na ilegalidade, são
                                                apenas similares ao seguro, entretanto o cliente não tem nenhuma
                                                garantia pela lei.

                                                Já o seguro é um contrato com uma seguradora que oferece proteção
                                                financeira e está totalmente de acordo com as regras da SUSEP, sendo
                                                assim de acordo com a legislação, garantindo total segurança ao cliente,
                                                que poderá recorrer à justiça em caso de algum desacordo com a
                                                seguradora.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="/faq" class="btn btn-link font-weight-bold text-decoration-none ps-0">VER
                                    MAIS...</a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-lg-5 ps-sm-5">
                            <div class="position-relative">
                                <div data-plugin-float-element
                                    data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                                    <img src="content/img/Diversas/CONTATO.png"
                                        class="img-fluid  custom-box-shadow-1 appear-animation"
                                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200"
                                        alt="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

        <footer id="footer" class="footer-reveal bg-color-white border-0 mt-0">

            <section class="section section-with-shape-divider bg-transparent border-0 pb-4 m-0">
                <div class="shape-divider shape-divider-reverse-x" style="height: 102px;">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 1920 102" preserveAspectRatio="xMinYMin">
                        <path fill="#F4F4F4" d="M1895,78c-56.71-6.03-113.75-12.1-167-17c-75.42-6.94-133.81-10.66-171-13c-62.1-3.91-108.85-5.97-155-8
								c-35.96-1.58-78.06-3.42-133-5c-59.81-1.72-103.18-2.23-172-3c-92.17-1.03-154.41-1.01-169-1c-69.05,0.05-115.16,0.67-137,1
								c-43.08,0.65-76.21,1.48-97,2c-28.02,0.7-71.13,1.8-128,4c-16.64,0.64-57.72,2.28-111,5c-26.12,1.33-67.11,3.45-121,7
								c-21.14,1.39-54.21,3.59-96,7c-19.93,1.63-39.22,3.32-47,4c-16.12,1.41-33.55,2.94-55,5c-26.48,2.54-19.07,2.04-77,8
								c-19.39,1.99-36.94,3.77-60.59,7.46V103H1923V81C1916.55,80.3,1906.82,79.26,1895,78z" />
                    </svg>
                </div>
                <div class="container pt-5 mt-5">
                    <div class="row justify-content-center pb-2 mb-3">
                        <div class="col-md-9 col-lg-12 text-center">
                            <h2 class="text-color-primary font-weight-bold line-height-6 mb-6 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">SEGURADORAS
                                PARCEIRAS</h2>

                        </div>
                    </div>
                    <div class="row appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="600">
                        <div class="col">
                            <div class="owl-carousel nav-outside nav-arrows-1 appear-animation"
                                data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750"
                                data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 3}, '1199': {'items': 3}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': '75'}">

                                <div class="custom-card-style-1-image-wrapper bg-transparent d-inline-block mb-1">
                                    <a href="#">
                                        <img src="content/img/Seguradoras/Porto.png" class="card-img-top " alt="" />
                                    </a>
                                </div>

                                <div class="custom-card-style-1-image-wrapper bg-transparent d-inline-block mb-1">
                                    <a href="#">
                                        <img src="content/img/Seguradoras/Tokio.png" class="card-img-top " alt="" />
                                    </a>
                                </div>
                                <div class="custom-card-style-1-image-wrapper bg-transparent d-inline-block mb-3">
                                    <a href="#">
                                        <img src="content/img/Seguradoras/Bradesco.png"
                                            class="card-img-top border-radius-0 mb-2" alt="" />
                                    </a>
                                </div>
                                <div class="custom-card-style-1-image-wrapper bg-transparent d-inline-block mb-3">
                                    <a href="#">
                                        <img src="content/img/Seguradoras/Hdi.png"
                                            class="card-img-top border-radius-0 mb-2" alt="" />
                                    </a>
                                </div>
                                <div class="custom-card-style-1-image-wrapper bg-transparent d-inline-block mb-1">
                                    <a href="#">
                                        <img src="content/img/Seguradoras/azul.png" class="card-img-top " alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-with-shape-divider section-parallax bg-transparent border-0 m-0">

                <div class="col-sm-9 col-lg-12 ps-sm-5">
                    <div class="position-relative">
                        <div data-plugin-float-element
                            data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                            <a href="https://account.beeviral.app/widget/WidgetSharingCookie?code=eVoyaHFsOHdHMGEwZERQdlVmcmw5dz09&url=https://account.beeviral.app"
                                target="https://account.beeviral.app/widget/WidgetSharingCookie?code=eVoyaHFsOHdHMGEwZERQdlVmcmw5dz09&url=https://account.beeviral.app">
                                <img src="content/img/Diversas/INDIQUE.png"
                                    class="img-fluid  custom-box-shadow-1 appear-animation"
                                    data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" alt="" />
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <section class="section border-0 bg-transparent pt-4 pt-lg-5 m-0">
                <div class="container pb-5 mb-3">

                    <div class="row">


                        <div class="col-lg-6 mb-4 mb-lg-0">

                            <article class="appear-animation" data-appear-animation="fadeInUpShorter"
                                data-appear-animation-delay="900">
                                <div class="card border-0 border-radius-0  bg-transparent">
                                    <div class="card-body p-3 z-index-1">


                                        <div class="header-row">
                                            <div class="header-logo">
                                                <a href="/">
                                                    <img src="content/img/Logo/logo1.png" class="img-fluid" width="200"
                                                        height="61" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <br />


                                        <div class="card-body p-0">
                                            <p class="card-text mb-2 text-color-dark text-5">Potencial Corretora, 10
                                                anos de expertise em Seguro Auto para proporcionar proteção e
                                                tranquilidade. Personalizamos soluções para cada perfil, garantindo
                                                segurança fácil e rápida.</p>
                                        </div>
                                        <div class="header-column justify-content-start">
                                            <div class="header-row">
                                                <ul
                                                    class="header-social-icons social-icons social-icons-clean social-icons-medium position-relative right-7 d-none d-md-block ms-0">
                                                    <li class="social-icons-instagram"><a
                                                            href="https://www.instagram.com/potencialseg?igsh=YmphMXNpdnY3c211&utm_source=qr"
                                                            target="_blank" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>

                                                    <li class="social-icons-facebook"><a
                                                            href="https://www.facebook.com/PotencialSeg?mibextid=LQQJ4d"
                                                            target="_blank" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-2 mb-4 mb-lg-0">

                            <article class="appear-animation" data-appear-animation="fadeInUpShorter"
                                data-appear-animation-delay="1800">
                                <div class="card border-0 border-radius-0  bg-transparent">
                                    <div class="card-body p-3 z-index-1">


                                        <h4 class="card-title text-6 font-weight-bold pb-1 mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="/">Navegação</a></h4>
                                        <br />
                                        <ul
                                            class="list list-unstyled list-inline custom-list-style-1 mb-4 text-color-dark text-4">
                                            <li class="text-color-dark"><a href="calcular" class="text-color-dark">Como
                                                    Contratar</li>
                                            <li class="text-color-dark"><a href="seguradoras"
                                                    class="text-color-dark">Seguradoras</a> </li>
                                            <li class="text-color-dark"><a href="/" class="text-color-dark">Quem Somos
                                                </a> </li>
                                            <li class="text-color-dark"><a href="/faq" class="text-color-dark">Faq</a>
                                            </li>

                                        </ul>



                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">

                            <article class="appear-animation" data-appear-animation="fadeInUpShorter"
                                data-appear-animation-delay="1800">
                                <div class="card border-0 border-radius-0  bg-transparent">
                                    <div class="card-body p-3 z-index-1">


                                        <h4 class="card-title text-6 font-weight-bold pb-1 mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="/">Contato</a></h4>
                                        <h4 class="card-title text-3 font-weight-bold pb-1 mb-2"><a
                                                class="text-color-primary text-color-hover-primary text-decoration-none">Email</a>
                                        </h4>
                                        <p class="card-text mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="mailto:atendimento@potencialseg.com.br">atendimento@potencialseg.com.br</a>
                                        </p>
                                        <h4 class="card-title text-3 font-weight-bold pb-1 mb-2"><a
                                                class="text-color-primary text-color-hover-primary text-decoration-none">Telefone</a>
                                        </h4>
                                        <p class="card-text mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="tel:08000000417">0800-0000-417</a></p>
                                        <h4 class="card-title text-3 font-weight-bold pb-1 mb-2"><a
                                                class="text-color-primary text-color-hover-primary text-decoration-none">Endereço</a>
                                        </h4>

                                        <p class="card-text mb-1 text-color-hover-primary text-decoration-none"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="https://maps.app.goo.gl/UCp47cYDE7ZBzhE97"
                                                target="https://maps.app.goo.gl/UCp47cYDE7ZBzhE97">Rua do Grito 387 Sala
                                                75 Ipiranga</a></p>
                                        <p class="card-text mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="https://maps.app.goo.gl/P1ENqsFYoe8TD3dr6"
                                                target="https://maps.app.goo.gl/P1ENqsFYoe8TD3dr6">Avenida Nações Unidas
                                                22.505a</a></p>
                                        <p class="card-text mb-2"><a
                                                class="text-color-dark text-color-hover-primary text-decoration-none"
                                                href="https://maps.app.goo.gl/hkGsrJ5kSigwVkdG9"
                                                target="https://maps.app.goo.gl/hkGsrJ5kSigwVkdG9">Shopping SP
                                                Market</a></p>
                                    </div>
                                </div>
                            </article>
                        </div>


                    </div>
                </div>
            </section>
            <hr />


            <div class="footer-copyright bg-color-white">
                <div class="footer-copyright bg-light py-4">
                    <div class="container py-2">
                        <div class="row">
                            <div class="col">
                                <p class="text-center text-3 mb-0">Todos os direitos reservados - Potencial Seguros</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="content/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="content/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="content/js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="content/js/potencial.js"></script>

    <!-- Theme Custom -->
    <script src="content/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="content/js/theme.init.js"></script>
    <script type="text/javascript" async
        src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/fb9ecddc-a2b5-4426-b138-d87ef98e58a7-loader.js"></script>
</body>

</html>